@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Inscription";
    Layout = "_LayoutG";
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}




<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            @*<li>
                <a href="#">@ViewBag.Title.</a><i class="fa fa-circle"></i>
            </li>*@
            @*<li class="active">
                @ViewBag.Title.
            </li>*@
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
            <div>
                <p>


                    @*<h2>@ViewBag.Title.</h2>*@
                    <h3>S'enregistrer avec votre compte @ViewBag.LoginProvider.</h3>

                    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
                       @* <h4>Association Form</h4>*@
                        <hr />
                        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

                <p class="text-info" style="font-size:large;color:#0094ff;">
                    Vous avez été authentifié avec succès avec votre compte <strong>@ViewBag.LoginProvider</strong>.
                    Veuillez cliquez sur s'enregistrer pour terminer votre inscription svp!
                </p>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" readonly class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="S'enregistrer" />
                    </div>
                </div>
                </form>

                
                 </p>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->

    </div>
</div>
<!-- END PAGE CONTENT -->